# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Python environments
.venv/
venv/
env/

# Raw experimental data
*.mat
*.xlsx
*.xls
*.bin

# Temporary files
*.tmp
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
